<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Record</title>
  </head>

  <body>
    <h1>Add a Record</h1>

    <form action="/records" method="POST">
      <label for="name">Patient name</label>
      <input type="text" id="name" name="name" placeholder="Patient name" />

      <label for="doctor">Doctor name</label>
      <input type="text" id="doctor" name="doctor" placeholder="Doctor name" />

      <label for="illness">Illness</label>
      <input type="text" id="illness" name="illness" placeholder="Illness" />

      <button>Submit</button> <br />
      <a href="/records">Cancel</a>
    </form>
  </body>
</html>
